<app-header></app-header>
  <div class="cotainer text-center mt-5">
    
    <section class="error-area error-one">
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-xxl-7 col-xl-8 col-lg-8">
                 <div class="error-content text-center">
                    <span class="error-404">Dogs Page</span>
                    <ul>
                     <li>Poodle</li>
                     <li>Labradol</li>
                    </ul>
                    <p class="text">
                        There are many variations of passages of Lorem Ipsum avaable, b
                        majority have suffered alteration in some form
                     </p>
                    
                 </div>
                 <!-- error content -->
              </div>
           </div>
           <!-- row -->
        </div>
        <!-- container -->
     </section>
     <!--====== ERROR PART ENDS ======-->
    </div>
  <app-footer></app-footer>
  