
<app-header></app-header>
  <div class="cotainer text-center mt-5">
    
    <section class="error-area error-one">
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-xxl-7 col-xl-8 col-lg-8">
                 <div class="error-content text-center">
                    <span class="error-404">Home Page</span>
                    <!-- <h5 class="sub-title">Page Not Found</h5> -->
                    
                 </div>
                 <!-- error content -->
              </div>
           </div>
           <!-- row -->
        </div>
        <!-- container -->
     </section>
     <!--====== ERROR PART ENDS ======-->
    </div>
  <app-footer></app-footer>
  

